@use "../style/variables";

@font-face {
  font-family: 'iconfont';
  src: url(variables.$iconfont-directory-path+'iconfont.eot');
  src: url(variables.$iconfont-directory-path+'iconfont.eot?#iefix')
      format('embedded-opentype'),
    url(variables.$iconfont-directory-path+'iconfont.woff') format('woff'),
    url(variables.$iconfont-directory-path+'iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
